[submodule "deps/radiant-core"]
	path = deps/radiant-core
	url = https://github.com/radiantblockchain/radiant-node.git
	branch = master

[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
	branch = master
